@use "../../styles/abstracts/colors";
@use "../../styles/abstracts/mixins" as *;

.card-container {
	padding: 1rem;

	.card-image {
		width: 100%;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	&.img-left,
	&.img-right {
		display: flex;
		align-items: center;
	}

	&.img-top {
		.card-image {
			margin-bottom: 1rem;
		}
	}

	&.img-left {
		.card-image {
			min-width: 170px;
			width: 170px;
			max-height: 120px;
			margin-right: 2rem;
			img {
				height: 100%;
			}
		}
	}

	&.img-right {
		.card-image {
			margin-bottom: 1rem;
			min-width: 170px;
			width: 170px;
			max-height: 120px;
			margin-left: 2rem;
			img {
				height: 100%;
			}
		}
	}

	.card-content-container {
		h2 {
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 1.9rem;
			margin-bottom: 2rem;
			font-family: "Playfair Display", serif;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.description {
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 1.8rem;
			margin-bottom: 2rem;
			font-family: "Playfair Display", serif;
		}

		.sub-text {
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.2rem;
			margin-bottom: 2rem;
		}

		.tag {
			display: inline-block;
			color: colors.$light;
			background-color: colors.$dark;
			padding: 0.4rem 1rem;
			font-size: 0.85rem;
			text-transform: uppercase;
			margin-bottom: 1.3rem;

			@include dark() {
				color: colors.$dark;
				background-color: colors.$light;
			}
		}

		&.content-center {
			text-align: center;

			h2 {
				padding: 0 10%;
			}

			.description {
				padding: 0 5%;
			}

			.sub-text {
				padding: 0 4rem;
			}
		}

		&.content-left {
			.tag {
				margin-bottom: 1rem;
			}

			h2 {
				font-size: 1.35rem;
				margin-bottom: 1.4rem;
			}

			.sub-text {
				margin-bottom: 0;
			}
		}

		&.content-right {
			text-align: right;
		}
	}

	&.feature-card {
		.tag {
			font-size: 1rem;
		}

		h2 {
			font-size: 2.3rem;
			font-weight: 500;
			line-height: 3rem;
			display: block;
			-webkit-line-clamp: none;
			-webkit-box-orient: none;
			overflow: auto;
		}

		.description {
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 1.8rem;
		}

		.sub-text {
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.2rem;
		}

		.card-image {
			width: 100%;
			min-width: 55%;
			max-height: none;
		}

		&.img-left .card-image {
			margin-right: 4rem;
		}

		&.img-right .card-image {
			margin-left: 4rem;
		}

		.card-content-container {
			&.content-left {
				@include media-breakpoint-up(md) {
					max-width: 50%;
				}
			}

			&.content-center {
				text-align: center;

				h2 {
					padding: 0 10%;
				}

				.description {
					padding: 0 5%;
				}

				.sub-text {
					padding: 0 4rem;
				}
			}
		}
	}
}
